<!DOCTYPE html>

<html>
	
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 			 crossorigin="anonymous">
		<link rel="stylesheet" href="../stylesheets/main.css">
	</head>
	
	
	<body>
		
		<form action="/countries" method="POST">
			
			<div>
				<input type="text" name="name" placeholder="Country Name">
			</div>
			
			<div>
				<input type="text" name="flag" placeholder="Flag Image">
			</div>
			
			<div>	
				<input type="text" name="description" placeholder="Description">
			</div>
			
			<div>
				<input type="text" name="lessonNumber" placeholder="Lesson Number">
			</div>
			
			<div>
				<input type="text" name="routeName" placeholder="Route Name">
			</div>
			
			<div>
				<input type="text" name="capital" placeholder="Capital">
			</div>
			
			<div>
				<input type="text" name="yearFounded" placeholder="Year Founded">
			</div>
			
			<div>
				<input type="text" name="population" placeholder="Population">
			</div>
			
			<div>
				<input type="text" name="gdp" placeholder="Gdp">
			</div>
			
			<div>
				<input type="text" name="gdpPerCapita" placeholder="Gdp Per Capita">
			</div>
			
			<div>
				<button type="submit">
					Submit
				</button>
			</div>
			
		</form>
		
	</body>
	
	
</html>