<!DOCTYPE html>

<html>
	
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 			 crossorigin="anonymous">
		<link rel="stylesheet" href="../stylesheets/main.css">
		
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Cairo:wght@300&display=swap" rel="stylesheet">
	</head>
	
	
	
	<body class="show-body">
		
		
		
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark homepage-navbar">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="navbar-brand" href="/countries">Program</a>
				</li>
			</ul>
			
			<% if(!currentUser) { %>
				<ul class="navbar-nav ml-auto">
					<li class="nav-item ml-auto">
						<a class="nav-link" href="/login">Login</a>	
					</li>
				
					<li class="nav-item ml-auto">
						<a class="nav-link" href="register">Register</a>
					</li>
				</ul>
			<% } else { %>
			
				<ul class="navbar-nav ml-auto">
					<li class="nav-item homepage-screenNameli">
						Welcome, <em><%= currentUser.screenName %></em>
					</li>
					
					<li class="nav-item">
						<a class="nav-link" href="/logout">Logout</a>
					</li>
					
					<li class="nav-item">
						<a class="nav-link" href="/account">View Account</a>
					</li>
				</ul>
			
			<% } %>
		</nav>
		
		
		
		
		
		<div class="d-flex justify-content-center show-name">
			<h1 class="show-h1">
				Romania
			</h1>
		</div>
		
		<div class="d-flex justify-content-center show-lesson">
			<h5 class="show-h5">
				Lesson 26
			</h5>
		</div>
			
		<div class="d-flex justify-content-center">
			<img class="show-flag" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/73/Flag_of_Romania.svg/1200px-Flag_of_Romania.svg.png">
		</div>
		
		<div class='d-flex justify-content-center show-firstquickfacth4'>
			<h4>Capital: Bucharest</h4>
		</div>
		
		<div class='d-flex justify-content-center show-quickfactsh4'>
			<h4>Population: 19.4 million</h4>
		</div>
		
		<div class='d-flex justify-content-center show-quickfactsh4'>
			<h4>Gross Domestic Product (GDP): 250 billion dollars</h4>
		</div>
		
		<div class='d-flex justify-content-center show-quickfactsh4'>
			<h4>Gross Domestic Product (GDP) Per Capita: 13,000 dollars</h4>
		</div>
		
		
		
		<hr class="show-hr1">	
		
		
		
		
		<div class="d-flex justify-content-center">
			<figure>
				<img class="show-img1 show-map" src="https://upload.wikimedia.org/wikipedia/commons/a/af/Romania_in_Europe.svg">
				<span class="d-flex justify-content-center">
				</span>
			</figure>
		</div>
		
		
		
		
		<div class="d-flex justify-content-center">
			<p class="show-text">
				Romania is a county in Eastern Europe bordering several countries like Ukraine to the North, Bulgaria to the South, Moldova and the Black Sea to the east. The early human settlements in Romania date back 40,000 years. During the 200 BC Romania was settled by a tribe called the Dacians. In 106 AD the Dacians were conquered and controlled by the Romans for the next 160 years. After the Romans withdrew, the area was invaded by many people including Goths, Huns and Bulgars. The Bulgar Empire that established in 681 AD was a mixture of Byzantine people as well as the Slavic tribes. In early 1300s the principality of Moldavia and principality of Wallachia emerged in this area who were then conquered by the Ottomans in 1388. After that the principalities united again to fight against the Ottomans for the next several hundred years. In 1859 the principalities officially united to form Romania.
			</p>
		</div>
		
		
		<div class="d-flex justify-content-center">
			<figure>
				<img class="show-img1" src="https://i.redd.it/2tsrs6eaetw01.jpg">
				<span class="d-flex justify-content-center">
					<em><figcaption>Romania gained independance from the Ottoman Empire in 1859</figcaption></em>
				</span>
			</figure>
		</div>
		
		
		<div class="d-flex justify-content-center">
			<p class="show-text">
				In 1883 fearing an invasion from Russia, Romania joined the triple-alliance of Germany Austria-Hungary and Italy and fought alongside them in World War I. During World War II Romanians along with Nazis killed many jewish people.
 
However in 1944 Romania switched sides and fought against the Nazis. After the war Soviet Union occupied Romania and used it as a satellite state under the dictatorship of Nicolae Ceausescu. In 1996 the communists regime was removed. Today Romania is a developing nation that belongs to United Nations, NATO and European Union.
			</p>
		</div>
		
		
		<div class="d-flex justify-content-center">
			<figure>
				<img class="show-img1" src="https://relicsandmilitaria.ro/wp-content/uploads/2018/12/Colorized-photographs-of-the-Romanian-Army-in-World-War-One.jpg">
				<span class="d-flex justify-content-center">
					<em><figcaption>The Romanian Army during the first world war</figcaption></em>
				</span>
			</figure>
		</div>
		
		
		<div class="d-flex justify-content-center">
			<p class="show-text">
				Geographically Romania is the largest South Eastern European country. The terrain is distributed equally between mountains and plains. The mountain ranges the Carpathians and the Transylvanian Alps create a horseshoe range. The area between the mountain ranges is called Transylvania. The Danube river that borders in the south with Bulgaria flows thru Romania into the Black Sea forming the Danube Delta.
			</p>
		</div>
		
		<div class="d-flex justify-content-center">
			<figure>
				<img class="show-img1" src="https://outdoortrip-web.s3.eu-central-1.amazonaws.com/56-transylvanian-alps-best-vantage-point/1532204603.jpg">
				<span class="d-flex justify-content-center">
					<em><figcaption>The Transylvanian Alps in Romania</figcaption></em>
				</span>
			</figure>
		</div>
		
		
		
		
		<div class="d-flex justify-content-center">
			<p class="show-text">
				Romania has a continental climate experiencing the full four seasons with cold winters and warm summers.
People of Romania are called Romanians. The official language is Romanian, but Hungarian and German are also spoken.
			</p>
		</div>
		
	
		
		
		
		<div class="d-flex justify-content-center">
			<h3 class="show-factsh3">
				Two unique facts about Romania
			</h3>
		</div>
			
		
		<div class="d-flex justify-content-center">
			<p class="show-text">
				Bram Stoker’s character Count Dracula was inspired by the Romanian Prince Vlad III (1431-77). Prince Vlad, known as “Voivode” or “war leader” of Wallachia, was considered one of the most important rulers of the Wallachian history. He
was a particularly brutal man who liked impaling his enemies to the ground through their heads.

			</p>
		</div>
		
		
		
		<div class="d-flex justify-content-center">
			<figure>
				<img class="show-img1" src="https://lp-cms-production.imgix.net/features/2015/08/BranCastle_Transylvania-d91a08d52fa2.jpg?auto=format&fit=crop&sharp=10&vib=20&ixlib=react-8.6.4&w=850">
				<span class="d-flex justify-content-center">
					<em><figcaption>Bran Castle in Transylvania, Romania</figcaption></em>
				</span>
			</figure>
		</div>
		
		
		<div class="d-flex justify-content-center">
			<p class="show-text">
				Bigar Waterfall in south western Romania is one of the most unusual waterfalls in the world. The water falls form a cliff onto a moss covered rock, from there it streams down into a river.
			</p>
		</div>
		
		
		
		<div class="d-flex justify-content-center">
			<figure>
				<img class="show-img1" src="https://www.romaniajournal.ro/wp-content/uploads/2015/01/c631528204f696990a692490466eb0d0.jpg">
				<span class="d-flex justify-content-center">
					<em><figcaption>Bigar Waterfall in southwestern Romania</figcaption></em>
				</span>
			</figure>
		</div>
		
		
		
		
		<% if(currentUser && currentUser.lessonsComplete.length > 1){ %>
			<% currentUser.lessonsComplete.forEach(function(lesson){ %>
				<% if(lesson == "romania"){ %>
					<% lessonComplete = true %>
					<div class="d-flex justify-content-center">
						<a href="/countries" class="show-returnHomebtn btn btn-light">
							Return to Program	
						</a>
					</div>
				<% } %>
			<% }) %>
		
			<% if(lessonComplete != true) {%>
					<form action="/countries/romania/account" method="POST">
						<div class="d-flex justify-content-center">
							<button class="show-incompleteLessonbtn btn btn-success">
								Complete Lesson
							</button>
						</div>
					</form>
				<% } %>
		<% } %>
		
		
		<% if(!currentUser) { %>
			<div class="d-flex justify-content-center">
				<a href="/countries" class="show-returnHomebtn btn btn-light">
					Return to Program	
				</a>
			</div>
		<% } %>
		
	
	
		
	</body>
	
	
</html>